mixin cart(options = {})
  .cart
    .cart__wrapper
      .cart__title-wrapper
        h2.cart__title Корзина
        .cart__close-button-wrapper
          button.cart__close-button(aria-label="Закрыть корзину")

    .cart__scrim