@import "~components/card/card";

.card-list {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    width: 100%;
    margin: 44px 0;
    padding: 0;
    list-style-type: none;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}
