include ~templates/mixins
include ~components/header/header
include ~components/footer/footer

block vars

doctype html
html(class=className lang="ru")
  +pageBase({
    title,
    keywords,
    description,
  })
  body(class=`${className}__body`)
    div(class=`${className}__wrapper`)
      +header(HEADER_OPTIONS)
      block content
      +footer()