include ~templates/mixins
include ~components/header/header
include ~components/footer/footer

block vars

doctype html
html(class=className lang="ru")
  +pageBase({
    title,
    keywords,
    description,
  })
  body(class=`${className}__body`)
    div(class=`${className}__wrapper`)
      +header({
        menuItems: [
          {
            title: "Продукты",
            link: "/mock-address/change-me",
          },
          {
            title: "Цвета",
            link: "/mock-address/change-me",
          },
          {
            title: "Вдохновение",
            link: "/mock-address/change-me",
          },
          {
            title: "Советы",
            link: "/mock-address/change-me",
          },
          {
            title: "Найти магазин",
            link: "/mock-address/change-me",
          },
        ]
      })
      block content
      +footer()