:root {
  --theme-color: #7bb899;
  --theme-color-dark: #7ca993;
  --bg-color: #fff;
  --bg-dark-color: #000;
  --bg-gr-color: #f2f2f2;
  --bg-gr-color-dark: #dddada;
  --text-color: #1f2020;
  --nav-color: #c4c4c4;
  --rgba-dark-70: rgba(0, 0, 0, 0.7);
  --rgba-dark-40: rgba(0, 0, 0, 0.4);
  --rgba-dark-10: rgba(0, 0, 0, 0.1);
  --base-size: 16px;
  --header-height: 6.5rem;
  --mobile-header-height: 4rem;
}
