extends ~pages-base/page-base
include ~components/glide/glide

block vars
  -
    const className = 'index';
    const title = 'Colors';
    const keywords = 'Colors, marketplace, products, buy';
    const description = 'Colors marketplace';

block content
  main.index__main
    .index__glide-wrapper
      +glide([
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
      ])
