extends ~pages-base/page-base
include ~components/glide/glide
include ~components/card/card
include ~components/selector/selector
include ~components/toggle-list/toggle-list

block vars
  -
    const className = 'index';
    const title = 'Colors';
    const keywords = 'Colors, marketplace, products, buy';
    const description = 'Colors marketplace';

    const { store } = require('~store');
    const products = store.getState().products;

block content
  .index__container
    .index__glide-wrapper
      +glide([
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
      ])
    main.index__main
      section.index__filters-section
        .index__toggle-wrapper
          +toggle-list([
            {
              checked: true,
              text: "Новинки",
              value: "new",
            },
            {
              text: "Есть в наличии",
              value: "available",
            },
            {
              text: "Контрактные",
              value: "contract",
            },
            {
              text: "Эксклюзивные",
              checked: true,
              value: "exclusive",
            },
            {
              text: "Распродажа",
              value: "sale",
            }
          ])

      section.index__products-section
        .index__sort-wrapper
          span.index__products-count 412 товаров
          .index__selector-wrapper
            +selector({
              selected: 1,
              items: [
                'Сначала дорогие',
                'Сначала недорогие',
                'Сначала популярные',
                'Сначала новые',
              ],
              positionY: 'bottom',
              positionX: 'left',
            })
        .index__products-wrapper
          ul.index__products-list
            each product in products
              - const { id, title, price, currency, img } = product;
              li.index__product-item
                +card({ id, title, price, currency, img })
