@use "~templates/mixins" as mixins;
@import "normalize.css";
@import "~components/header/header";
@import "~components/footer/footer";

:root {
  --theme-color: #7bb899;
  --font-color: #1f2020;
  --bg-color: #fff;
  --bg-dark-color: #000;
  --base-size: 16px;
}

.index {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--base-size);
  color: var(--font-color);
  background-color: var(--bg-color);

  &,
  &__body {
    height: 100%;
    margin: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__main {
    flex: 1;
  }

  &_non-scrollable {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}
