extends ~pages-base/page-base
include ~components/glide/glide
include ~components/selector/selector
include ~components/sheet/sheet
include ~components/card-list/card-list
include ~components/toggle-list/toggle-list

block vars
  -
    const className = 'index';
    const title = 'Colors';
    const keywords = 'Colors, marketplace, products, buy';
    const description = 'Colors marketplace';
    const pageTitle = 'Краски';
    const subtitle = `
      Идеально подходят для стен и других поверхностей.
      Найди свой идеальный цвет!
    `;

    const { store } = require('~store');
    const {
      SLIDER_ITEMS,
      TOGGLE_ITEMS,
      SELECTOR_ITEMS,
      HEADER_OPTIONS,
    } = require('./mock.js');
    const products = store.getState().products;
    const sort = store.getState().sort;
    const selectedIndex = SELECTOR_ITEMS.findIndex((item) =>
      item.value === sort.sortBy && item.order === sort.order
    );
    const selected = selectedIndex !== -1 ? selectedIndex : 0;

block content
  .index__container
    .index__background-wrapper
      .index__title-wrapper
        h1.index__title=pageTitle
        h2.index__subtitle
         pre.index__subtitle-pre=subtitle
      .index__glide-wrapper
        +glide(SLIDER_ITEMS)
    main.index__main
      section.index__filters-section
        .index__toggle-wrapper
          +toggle-list(TOGGLE_ITEMS)

      section.index__products-section
        .index__sort-wrapper
          span.index__products-count
          .index__selector-wrapper
            +selector({
              selected,
              items: SELECTOR_ITEMS,
              positionY: 'bottom',
              positionX: 'left',
            })
        .index__products-wrapper
          +card-list()
      .index__sheet-wrapper
        +sheet()
