@use "~constants/constants" as constants;
@use "~templates/mixins" as mixins;
@import "normalize.css";
@import "~templates/default";
@import "~templates/fonts";
@import "~components/breadcrumbs/breadcrumbs";
@import "~components/footer/footer";
@import "~components/glide/glide";
@import "~components/header/header";
@import "~components/selector/selector";
@import "~components/toggle-sheet/toggle-sheet";
@import "~components/card-list/card-list";
@import "~components/toggle-list/toggle-list";

.index {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--base-size);
  color: var(--text-color);
  background-color: var(--bg-color);

  & * {
    box-sizing: border-box;
  }

  &,
  &__body {
    height: 100%;
    margin: 0;
  }

  &_non-scrollable {
    overflow: hidden;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__container {
    flex: 1;
  }

  &__background-wrapper {
    position: relative;

    @media (max-width: constants.$screen-lg) {
      margin: 1.5rem;
    }
  }

  &__breadcrumbs-wrapper {
    position: absolute;
    top: 32px;
    left: 64px;
    z-index: 5;

    @media (max-width: constants.$screen-lg) {
      position: static;
      top: 0;
      left: 0;
    }
  }

  &__title-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bg-color);
    text-align: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 5;

    @media (max-width: constants.$screen-lg) {
      position: static;
      top: 0;
      left: 0;
      transform: none;
      text-align: left;
    }
  }

  &__title {
    margin: 0;
    font-size: 4.5rem;
    font-weight: 400;

    @media (max-width: constants.$screen-lg) {
      font-size: 2.25rem;
      color: var(--text-color);
    }
  }

  &__subtitle {
    margin: 0;

    @media (max-width: constants.$screen-lg) {
      display: none;
    }

    &-pre {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: .025rem;
      line-height: 130%;
    }
  }

  &__glide-wrapper {
    @media (max-width: constants.$screen-lg) {
      display: none;
    }
  }

  &__main {
    display: flex;
    max-width: constants.$max-width;
    margin: 0 auto;
    padding: 4.5rem 4rem;

    @media (max-width: constants.$screen-lg) {
      padding: 1.5rem;
    }
  }

  &__filters-section {
    max-width: 19rem;
    width: 100%;

    @media (max-width: constants.$screen-lg) {
      display: none;
    }
  }

  &__products-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__sort-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__products-count {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: constants.$screen-lg) {
      display: none;
    }
  }

  &__filters-button {
    display: none;
    background: transparent;
    border: none;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: constants.$screen-lg) {
      display: inline-block;
    }
  }

  &__toggle-sheet-wrapper {
    display: none;

    &_visible {
      display: block;
    }
  }
}
