extends ~pages-base/page-base
include ~components/glide/glide
include ~components/selector/selector
include ~components/card-list/card-list
include ~components/toggle-list/toggle-list

block vars
  -
    const className = 'index';
    const title = 'Colors';
    const keywords = 'Colors, marketplace, products, buy';
    const description = 'Colors marketplace';

    const { store } = require('~store');
    const products = store.getState().products;

block content
  .index__container
    .index__glide-wrapper
      +glide([
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
        { src: "../assets/img/colors.webp", alt: "Изображение вазы" },
      ])
    main.index__main
      section.index__filters-section
        .index__toggle-wrapper
          +toggle-list([
            {
              text: "Новинки",
              value: "new",
            },
            {
              text: "Есть в наличии",
              value: "available",
            },
            {
              text: "Контрактные",
              value: "contract",
            },
            {
              text: "Эксклюзивные",
              value: "exclusive",
            },
            {
              text: "Распродажа",
              value: "sale",
            }
          ])

      section.index__products-section
        .index__sort-wrapper
          span.index__products-count 412 товаров
          .index__selector-wrapper
            +selector({
              selected: 0,
              items: [
                {
                  name: 'Сначала дорогие',
                  value: 'price',
                },
                {
                  name: 'Сначала недорогие',
                  value: 'price',
                  order: 'asc',
                },
                {
                  name: 'Сначала популярные',
                  value: 'popularity',
                },
                {
                  name: 'Сначала новые',
                  value: 'createdAt',
                },
              ],
              positionY: 'bottom',
              positionX: 'left',
            })
            +selector({
              selected: 0,
              items: [
                {
                  name: 'Сначала очень хорошие',
                  value: 'price',
                },
                {
                  name: 'Сначала хорошие',
                  value: 'price',
                  order: 'asc',
                },
              ],
              positionY: 'top',
              positionX: 'left',
            })
        .index__products-wrapper
          +card-list()
