@use "~constants/constants" as constants;
@use "~templates/mixins" as mixins;
@import "normalize.css";
@import "~templates/default";
@import "~templates/fonts";
@import "~components/card-list/card-list";
@import "~components/cart/cart";
@import "~components/footer/footer";
@import "~components/glide/glide";
@import "~components/header/header";
@import "~components/selector/selector";
@import "~components/toggle-list/toggle-list";

.index {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--base-size);
  color: var(--text-color);
  background-color: var(--bg-color);

  & * {
    box-sizing: border-box;
  }

  &,
  &__body {
    height: 100%;
    margin: 0;
  }

  &_non-scrollable {
    overflow: hidden;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__container {
    flex: 1;
  }

  &__background-wrapper {
    position: relative;
  }

  &__title-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    color: var(--bg-color);
    text-align: center;
    pointer-events: none;
    z-index: 5;
  }

  &__title {
    margin: 0;
    font-size: 4.5rem;
    font-weight: 400;
  }

  &__subtitle {
    font-weight: 400;
  }

  &__main {
    display: flex;
    max-width: constants.$max-width;
    margin: 0 auto;
    padding: 4.5rem 4rem;
  }

  &__filters-section {
    max-width: 18rem;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__products-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__sort-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__products-count {
    font-size: .75rem;
    font-weight: 500;
  }
}
