.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17.375rem;
  min-height: 23.5rem;
  padding-bottom: 0.875rem;
  border-bottom: 1px solid var(--rgba-dark-10);

  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.375rem;
    height: 17.375rem;
  }

  &__image {
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
  }

  &__title {
    font-weight: 300;
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2rem;
  }

  &__price-wrapper {
    font-weight: 600;
  }

  &__cart-button {
    display: none;
    min-width: 5rem;
    min-height: 2rem;
    font-size: 1.5rem;
    color: var(--bg-dark-color);
    background-color: var(--bg-gr-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;

    @media (hover: hover) {
      background-color: var(--theme-color);
    }

    @media (hover: none) and (pointer: coarse) {
      display: block;
    }
  }

  @media (hover: hover) {
    &:hover &__cart-button {
      display: block;
    }
  }
}
