include ~components/logo/logo

mixin header(options = {})
  -
    const { formatPhone } = require('~utils/utils.js');
    const phoneNumber = options?.number ?? '';
    const cleanedNumber = formatPhone(phoneNumber);

  header.header
    .header__left-block
      .header__logo-wrapper
        +logo()
      .header__menu-wrapper
        nav.header__menu
          ul.header__menu-list
            each item in options.menuItems
              - const { title, link } = item;
              li.header__menu-item
                a.header__menu-link(
                  href=link
                )
                  span.header__menu-text=title
    .header__right-block
      .header__phone-wrapper
        a.header__phone-number(
          href=`tel:${cleanedNumber}`
        )=phoneNumber
      .header__actions-wrapper