mixin header(options = {})
  header.header
    .header__right-block
      .header__logo-wrapper
      .header__menu-wrapper
    .header__left-block
      .header__phone-wrapper
      .header__action-wrapper