@use "~constants/constants" as constants;
@import "~components/cart/cart";
@import "~components/mobile-menu/mobile-menu";

.header {
  background-color: var(--bg-color);

  @media (max-width: constants.$screen-lg) {
    padding: 0 1.5rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: constants.$max-width;
    min-height: var(--header-height);
    margin: 0 auto;
    padding: 0 4rem;

    @media (max-width: constants.$screen-lg) {
      min-height: var(--mobile-header-height);
      padding: 0;
      border-bottom: 1px solid var(--rgba-dark-10);
    }
  }

  &__burger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-left: -1.25rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__burger-lines-wrapper {
    --line-width: 1.5rem;
    --line-height: 0.125rem;
    --line-gap: 0.25rem;

    position: relative;
    padding: 0;
    width: var(--line-width);
    height: calc(3 * var(--line-height) + 2 * var(--line-gap));
    cursor: pointer;
  }

  &__burger-lines,
  &__burger-lines::before,
  &__burger-lines::after {
    position: absolute;
    display: block;
    width: 100%;
    height: var(--line-height);
    background: var(--bg-dark-color);
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  &__burger-lines {
    top: 50%;
    transform: translateY(-50%);
  }

  &__burger-lines::before,
  &__burger-lines::after {
    content: "";
    transform-origin: center;
  }

  &__burger-lines::before {
    top: calc(-1 * var(--line-gap) - var(--line-height));
  }

  &__burger-lines::after {
    top: calc(var(--line-gap) + var(--line-height));
  }

  &__burger-button_active &__burger-lines {
    background: transparent;
    &::before {
      transform: translateY(calc(var(--line-gap) + var(--line-height)))
        rotate(45deg);
    }
    &::after {
      transform: translateY(calc(-1 * (var(--line-gap) + var(--line-height))))
        rotate(-45deg);
    }
  }

  &__left-block,
  &__right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: constants.$screen-lg) {
      width: auto;
    }
  }

  &__left-block {
    max-width: 50rem;

    @media (max-width: constants.$screen-xl) {
      max-width: 42rem;
    }

    @media (max-width: constants.$screen-lg) {
      max-width: none;
    }
  }

  &__right-block {
    max-width: 25rem;

    @media (max-width: constants.$screen-xl) {
      max-width: 22rem;
    }

    @media (max-width: constants.$screen-lg) {
      max-width: none;
    }
  }

  &__menu-list {
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media (max-width: constants.$screen-lg) {
      display: none;
    }
  }

  &__menu-link {
    font-size: 0.875rem;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;

    @media (hover: hover) {
      &:hover {
        color: var(--theme-color);
      }
    }
  }

  &__phone-wrapper {
    @media (max-width: constants.$screen-lg) {
      display: none;
    }
  }

  &__phone-number {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
  }

  &__phone-text {
    font-size: 0.875rem;
    color: var(--text-color);
    opacity: 0.3;
  }

  &__icons-menu-list {
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__icons-menu-item:not(:has([data-element="cartCounter"])) {
    @media (max-width: constants.$screen-lg) {
      display: none;
    }
  }

  &__icons-menu-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;

    @media (hover: hover) {
      &:hover {
        background-color: var(--rgba-dark-10);
      }
    }
  }

  &__cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    background-color: var(--theme-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: var(--theme-color-dark);
      }
    }
  }

  &__cart-wrapper {
    display: none;

    &_visible {
      display: block;
    }
  }

  &__mobile-menu-wrapper {
    display: none;

    &_visible {
      display: block;
    }
  }
}
