.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: .625rem;
    color: var(--nav-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05rem;
  }

  &__separator {
    display: inline-block;
    width: .1875rem;
    height: .1875rem;
    margin: 0 .5rem;
    background: var(--nav-color);
    border-radius: 50%;
  }

  &__current {
    font-size: .625rem;
    color: var(--nav-color);
    text-transform: uppercase;
  }
}