mixin toggle(options = {})
  label.toggle
    input.toggle__input(
      type="checkbox"
      value=options.value
      checked=options.checked
    )
    span.toggle__custom-input
    span.toggle__text=options.text