extends ~pages-base/page-base

block vars
  -
    const className = 'index';
    const title = 'Colors';
    const keywords = 'Colors, buy';
    const description = 'Colors marketplace';

block content
  main.index__main